header{
    border-style: solid;
    padding: 1%;
    margin: 1%;
    text-align: center;
    background-color: chocolate;
}
.b2{
    float: left;
    margin: 1%;
}
h4{
    text-align: right;
    line-height: 2px;
}
.c1{
    list-style-type: square;
    float: left;
    width: 40%;
    border-style:groove;
    margin: 2%;
    background-color: coral;
}
.c2{
    list-style-type: square;
    float: right;
    width: 40%;
    border-style:groove;
    margin: 2%;
    background-color: coral;
}
.b1{
    float: right;
    width: 50%;
}
li{
    float: left;
    margin: 10%;
    text-transform:uppercase;
}
nav{
    text-align: right;
    margin: 2%;
}
.d1{
    border-style: double;
    padding: 1%;
    background-color:burlywood;
    color: black;
}